* {
  margin: 0;
  padding: 0;
}

html{
  font-family: sans-serif;
}

header{
  display: flex;
  padding: 14px 80px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 20px 1px #e2dfdf;
}

.nav-list{
  display: flex;
}

.nav-item{
  padding: 10px 20px;
  list-style: none;  
}

.nav-item a{
  text-decoration: none;
  color: #000000;
  display: inline-block;
  position: relative;
 
}

.nav-item a:hover{
  color: #782b90;
}

.hero{
 background-image: url("../images/img.png");
 width: 100%;
 height: 600px;
 background-size: 100%100%;
 display: flex;
}

.hero h2{
  margin-bottom: 20px;
}

.txt{
  margin-top: 100px;
  padding: 30px;
}

.class{
  color: #92278f;
}

.btn{
  color: #ffffff;
  padding: 10px;
  background-color: #782b90;
  border: none;
  text-decoration: none;
}

.btn:hover{
  background-color: #000000;
}

.welcome{
  display: flex;
  padding: 100px;
  background-color: #f1f3f4;
  margin-top: 25px;
}

.welcome-about{
  padding: 10px;
  align-items: center;
  text-align: center;
}

.welcome-discription{
  color: #4d4d4d;
  padding-bottom: 20px;
  line-height: 27px;
  font-size: 20px;
}

.section-title{
  text-align: center;
  margin: 80px;
}

.academic-prog {
 background-color: #ffffff;
}

.prog{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 100px 100px;
}

.prog-btn{
 box-shadow: 0px 5px 9px 1px rgb(0 0 0 / 35%);
 padding: 40px;
}

.prog-content {
 padding: 0px 10px;
 padding-top: 30px;
}

.testimonial {
  display: flex;
  overflow: hidden;
  background-image: url(../images/testimonials.jpg);
  height: 510px;
  background-position: center;
}

.testimonial h1 {
  font-size: 36px;
  color: #ffffff;
}

.content {
  padding-top: 50px;
}

.slider {
  border-radius: 10px;
  margin-left: 250px;
  margin-right: 250px;
  overflow: hidden;
}

.slides {
  width: 500%;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.testimonial-1 {
  margin-top: 80px;
  text-align: center;
}
.testimonial-2 {
  margin: 80px 0px 160px 0px;
  text-align: center;
}
.testimonial-3 {
  margin: 80px 0px 160px 0px;
  text-align: center;
}

.name {
  padding: 20px;
  color: #ffffff;
}

.name h2 {
  font-size: 22px;
  color: #ffffff;
  margin-top: 70px;
}

.saying {
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  line-height: 27px;
  word-spacing: 2px;
  font-style: italic;
}

.navigation-manual {
  position: absolute;
  width: 850px;
  margin-top: 140px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 1px solid #dadada;
  background: #dadada;
  width: 50px;
  height: 50px;
  opacity: 0.3;
  padding: 6px;
  margin: 0 15px;
  cursor: pointer;
  transition: 1s;
}

.navigation-manual i{
  color: #458FF6;
  margin: 0px 40px;
  width: 10px;
}

.manual-btn:hover {
  background-color: #f0f0f0;
  opacity: 100%;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

.mgmt-team{
 padding: 80px;
 text-align: center;
 background-color: #f1f3f4;
}

.container{
 display: flex;
 margin-top: 20px;
 flex-wrap: wrap;
 padding: 50px;
}

.team{
 padding: 50px;
 color: #4d4d4d;
}

.team img{
 border-radius: 50%;
 box-shadow: 0px 5px 9px 1px rgb(120 43 144 / 35%);
}

.about {
  max-width: 300px;
  margin-right: 40px;
}

.contact {
  max-width: 345px;
}

footer{
  background: #782b90;
  color: #ffffff;
  padding: 30px 50px 0px;
}

footer a{
  text-decoration: none;
  color: #ffffff; 
}

footer li{
  list-style: none;
  padding-bottom: 10px;
}

footer h4{
  margin-bottom: 20px;
}

.programs{
  margin-right: 40px;
}

.facebook{
  margin-right: 40px;
}

.footer{
  border-bottom: 1px solid #ffffff4d;
}

.copyright{
  padding: 10px;
}
